<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Teachable Machine
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Teachable Machine</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- CARGA DE IMAGEN - INICIO -->
   
  <!-- CARGA DE IMAGEN - FIN -->

  <input type="file" accept="image/*" />

  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button>
      <ion-icon name="cloud-upload-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>